$primary_color: #ffffff;
$p_color: #727272;
$font_family: 'Raleway', sans-serif;



body {
	font: 18px/30px $font_family;
	color: $p_color;
	background-color: white;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1 {
	font: 48px/60px $font_family;
	color: black;
	font-weight: 400;
}

h2 {
	font: 36px/48px $font_family;
	color: black;
	font-weight: 700;
}

h3 {
	font: 30px/46px $font_family;
	color: black;
	font-weight: 600;
}
h4 {
	font: 18px/57px $font_family;
	color: black;
	font-weight: 600;
}
h5 {
	font: 14px/57px $font_family;
	color: black;
	font-weight: 600;
}
h6 {
	font: 12px/57px $font_family;
	color: black;
	font-weight: 600;
}
img {
  	display: block;
 	height: auto;
  	max-width: 100%;
  	vertical-align: middle;
}
p {
	font-size: 10px;
	color: #727272;
}
.container {
	padding: 0;
}
.site-header {
	padding: 0;
	margin: 0;
	background: #fafafa;
	.site_top {
		padding: 5px -15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.login {
			font-size: 11px;
			align-items: center;
			height: 100%;
			a {
				color: #000;
				font-size: 11px;
				font-weight: bold;
			}

		}
		.top_info {
			display: flex;
			justify-content: flex-end;
			padding: 0 ;
			ul {
				list-style: none;
				padding: 0;
			}
			a {
				color: #000000;
				text-decoration:  none;
				padding-left: 5px;
				font-size: 11px;
				font-weight: bold;
				text-transform: uppercase;

			}
			.usd {
				display: flex;
				align-items: center;
				margin: 0;
				.usd_menu {
					position: relative;
					.usd_menu_sub {
						position: absolute;
						right: 0;
						background: #fff;
						width: 150px;
						z-index: 999;
						li {
							display: flex;
							flex-flow: column;
							a {
								text-align: left;
								display: inline;
							}
							a:hover {
								color: #ffb400;
							}
					
						}
					}
				}
	
			}
		}
	}
	.site-logo {
	align-items: center;
	background: #badbd8;
	width: 100%;
		.logo_info {
			position: relative;
			padding: 0;

			.logotip {
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				@media (max-width: 769px) {
					position: relative;
				}
				h3 {
					color: #ffffff;
					text-align: left;
					font-size: 24px/50px;
					text-transform: uppercase;
					font-weight: bold;
					padding-right: 10px;
					@media (max-width: 576px) {
						text-align: center;

					}
				}
				h4 {
					font-size: 30px;
					text-transform: uppercase;
					display: flex;
					color: #ffffff;
					font-weight: 300;
				}
				span {
					text-transform: uppercase;
					display: flex;
				}
				i {
					font-size: 10px;
					position: absolute;
					right: 37%;
					top: 7px;
				}

			}
			.activities {
				position: absolute;
				right: 0;
				top: 25%;
				@media (max-width: 769px) {
					
				}
				i {
					font-size: 16px;
					color: #fff;
				}
				.value {
					font-size: 12px;
					padding: 8px 11px;
					border-radius: 50%;
					background: #fff;
				}
			}
			
		}
	}
}

.main-menu {
	position: relative;

	&__icon {
		position: absolute;
		display: block;
		width: 30px;
		height: 35px;
		top: 10px;
		right: 30px;
		cursor: pointer;
		z-index: 2;

		span {
			display: block;
			position: absolute;
			height: 5px;
			width: 100%;
			background: #333333;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: .25s ease-in-out;

			&:nth-child(1) {
				top: 0px;
			}

			&:nth-child(2), &:nth-child(3) {
				top: 13px;
			}

			&:nth-child(4) {
				top: 26px;
			}
		}
	}

	&__links {
		position: absolute;
		width: 100%;
		background-color: rgba(0,0,0,0.5);
		padding: 0 40px 0 0 ;
		list-style: none;
		margin: 0;
		display: none;
		flex-flow: column wrap;
		justify-content: flex-end;
		align-self: center;
		z-index: 1;
		li {
			padding-right: 0;

		}
	}

	&__links-item {
		padding: 10px;
		position: relative;
		z-index: 1;

		> a {
			color: white;
    		font-size: 10px;
    		line-height:40px;
    		font-weight: bold;
    		padding: 0 5px;
    		text-transform: uppercase;
		}
			.sub-menu {
				list-style: none;
				padding: 20px;
				margin: 0;
				position: absolute;
				background: #badbd8;
				width: 100%;
				top: 100%;
				left: 0;
				box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
				display: flex;
				opacity: 0;
				pointer-events: none;
				visibility: hidden;
				justify-content: space-between;
				transition: opacity 0.3s ease-in-out,
				visibility 1s ease-in-out;
				z-index:1000;

				> li {
					display: flex;
					flex-flow: column;
					a {
						font-size: 12px;
						line-height: 30px;
						color: #fff;
					}
					a:hover {
						color: #ffb400;
						text-decoration: none;
					}
					
				}
			}

		&:hover {
			z-index: 2;
			.sub-menu {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
		.sub-menu_blog {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			.content {
				padding: 0 15px;
			
			}
			.item__submenu__blog {
				.content_submenu__blog {
					h4 {
						line-height: 30px;
						padding-bottom: 10px;
						color: #fff;
					}
					h6 {
						line-height: 30px;
						padding-top: 15px;
						color: #fff;
					}
					p {
						line-height: 20px;
						color: #fff;
					}
					a {
						color: #fff;
					}
					.accubuttons {
						.button {
						color: #fff;
			    		font-size: 10px;
			    		line-height:40px;
			    		font-weight: bold;
			    		padding: 0 5px;
			    		text-transform: uppercase;
			    		width: 120px;
						}
					}
				}
			}
		}
		.sub-menu_sale {
			z-index: 1000;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			.content {
				padding: 0 15px;
			
			}
			.item__submenu__sale {
				padding-bottom: 20px;
				.item {
					position: relative;
					.caption {
						position: absolute;
						bottom: 0;
						display: flex;
						justify-content: center;
						align-items: center;
					
						.info {
							padding: 0 0 20px 20px;
							display: block;
							@media (max-width: 996px) {
									padding: 0 0 5px 10px;
								}
							a {
								display: inline-block;
								width: 100%;
								padding: 0;
								font-size: 14px;
								line-height: 14px;
								text-decoration: none;
								text-transform: unset;
								color: #000;
								font-weight: bold;
								@media (max-width: 996px) {
									font-size: 10px;
								}
								p {
									font-size: 10px;
									@media (max-width: 996px) {
									font-size: 8px;
									}
								}
							}
						}
						.price {
							padding:0 20px 20px 0;
							@media (max-width: 996px) {
								padding:0 10px 5px 0;
							}
							span {
								@media (max-width: 996px) {
									line-height: 25px;
								}
							}
							.price-old {
								text-decoration: line-through;
								font-size: 12px;
								font-weight: bold;
								color: #000;
								float: right;
								@media (max-width: 996px) {
									font-size: 10px;
								}
							}
						}
						.prise-new {
							float: right;
							color: red;
							font-size: 12px;
							font-weight: bold;
							@media (max-width: 996px) {
									font-size: 10px;
								}
						}
					}
				}
			}
		}
		
	}

	&.menu_state_open {
		z-index: 1000;


		.main-menu__links{
			display: flex;
		}

		.main-menu__icon {
			span {
				&:nth-child(1) {
				  top: 18px;
				  width: 0%;
				  left: 50%;
				}

				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
				}

				&:nth-child(4) {
					top: 18px;
					width: 0%;
					left: 50%;
				}

			}
		}

		.sub-menu {
			//opacity: 1;
			//visibility: visible;
			@media (max-width: 769px) { 
					flex-flow: column;
				}
		}
		.sub-menu_blog{
			z-index: 1000;
			display: flex;

		}
		.sub-menu_sale {
			z-index: 1000;
			@media (max-width: 769px) { 
				width: 50%;

			}
			.content {
				width: 100%;
				.item {
					width: 100%;
				}
			}
		}
	}


	@media (min-width: 768px) {

		.main-menu__icon {
			display: none;
		}

		.main-menu__links {
			position: relative;
			display: flex;
			flex-flow: row wrap;
			background-color: transparent;

			.main-menu__links-item {
				position: static;
			}


			.sub-menu {
				position: absolute;

			}
		}

	}


}

//*************SLIDER    *************// 
#block-for-slider {
    width: 100%;
    margin: 0 auto;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;

}

#slidewrapper {
    position: relative;
    width: calc(100% * 4);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);

}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
	position: relative;
    width: calc(100%/4);
    list-style: none;
    display: inline;
    float: left;
    .click {
    	z-index: 2;
    	position: absolute;
    	top:70%;
    	left: 21%;
    	.button {
    		@media (max-width: 500px) {
    			padding: 0;
    			font-size: 10px;
    			max-width: 80px;
    		}
    	}
    }
}

.slide-img {
    width: 100%;
    height: 100%;


}

#prev-btn, #next-btn {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 25px);
}

#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}
//******************************//
main {
	.section1 {
		img {
				width: 100%;
				height: 100%;
				object-fit: cover;

			}
		.featured_items {
			.button {
				@media (max-width:996px) {
					padding: 5px 20px;
				}
			}
			.row {
				padding: 0 15px;
			}
			.col-sm-6 {
				padding: 0;
				@media (max-width:575px) {
					height: 300px;
					width: 100%;
				}
			}
			.col-sm-6 {
				max-height: 460px;
			}
			.name {
				display: flex;
				justify-content: center;
				padding: 55px 0;
				h3 {
					text-transform: uppercase;
					color: #292929;
				}
			}
			.fone {
				display: flex;
				flex-flow: column;
				position: relative;
				img {
					object-fit: contain;
				}
				
				h1 {
					width: 100%;
					display: block;
					font-size: 120px;
					line-height: 150px;
					font-weight: bold;
					color: #a1d2cd;
					opacity: 0.1;
					@media (max-width: 997px) {
						font-size: 120px;
						line-height: 140px;
						@media (max-width:769px) {
							font-size: 80px;
							line-height: 80px;
							@media (max-width:650px) {
								font-size: 60px;
								line-height: 80px;
								@media (max-width:575px) {
									font-size: 90px;
									padding: 50px 0 0 50px;
								}
							}
						}
					}
				}
			}
			.content {
				position: absolute;
				right: 5%;
				top: 15%;
				display: block;
				@media (max-width:769px) {
						top: 0;
					}		
				h2 {
					font-size: 48px;
					text-transform: uppercase;
					padding-bottom: 5%;
					@media (max-width:996px) {
						font-size: 36px;
						padding-bottom: 10px;
						@media (max-width:769px) {
							font-size: 30px;
							padding-bottom: 0px;
						}		
					}		
				}
				h3 {
					font-size: 48px;
					text-transform: uppercase;
					font-weight: bold;
					padding-bottom: 13%;
				}
				h5 {
					color: #badbd8;
					line-height: 14px;
					padding-bottom: 30px;
				}

			}
			.content1 {
				position: absolute;
				left: 10%;
				top: 19%;
				display: block;
				@media (max-width:997px) {
						top: 10%;
					}	
				h2 {
					font-size: 36px;
					text-transform: uppercase;
					padding-bottom: 3%;
					@media (max-width:997px) {
						font-size: 30px;
						padding-bottom: 0;
						@media (max-width:769px) {
							font-size: 24px;
							padding-bottom: 0px;
							line-height: 36px;
						}		
					}		
				}
				h3 {
					font-size: 36px;
					text-transform: uppercase;
					font-weight: bold;
					padding-bottom: 13%;
					@media (max-width:997px) {
						font-size: 30px;
						padding-bottom: 8%;
						@media (max-width:769px) {
							font-size: 24px;
							line-height: 36px;
							padding-bottom: 20px;
						}		
					}		

				}
				h5 {
					color: #badbd8;
					line-height: 14px;
					padding-bottom: 30px;
					@media (max-width:769px) {
							padding-bottom: 20px;
						}		
				}
			}
		}
	}
	.section2 {
		padding-top: 100px;
		h1 {
			text-transform: uppercase;
			font-weight: bold;
			line-height: 41px;
			padding-bottom: 10px;
		}
		h2 {
			text-transform: uppercase;
			font-weight: bold;
			line-height: 36px;
			padding-bottom: 10px;
			@media (max-width:769px) {
				font-size: 20px;
				line-height: 20px;
			}
		}
		.button {
			padding: 5px 40px;
		}
		.item_left {
			padding-right: 0;
			.item_left_top {
				position: relative;
				.item_left_top_content {
					position: absolute;
					bottom: 20%;
					left: 5%;
					@media (max-width:997px) {
						bottom: 10%;
						@media (max-width:579px) {
							bottom: 20%;
							h1 {
								font-size: 36px;
								padding-bottom: 10px;
							}
						}
					}
				}
				
			}
			.item_left_bottom {
				position: relative;
				.item_left_bottom_content {
					position: absolute;
					bottom: 20%;
					right: 5%;

					@media (max-width:997px) {
						bottom: 10%;
						@media (max-width:769px) {
							display: flex;
							flex-flow: column;
							align-items:flex-end;
							@media (max-width:579px) {
								bottom: 20%;
								align-items:flex-start;
								h1 {
									font-size: 36px;
									padding-bottom: 10px;
								}
							}
						}
					}
				}
			}
		}
		.item_right {
			padding-left: 0;
			position: relative;
			.item_right_content {
				width: 50%;
				position: absolute;
				bottom: 25%;
				left: 5%;
				@media (max-width:997px) {
					bottom: 10%;
					@media (max-width:579px) {
					bottom: 30%;
						h1 {
							font-size: 36px;
						}
					}
				}
				h5 {
					color: #fff;
				}
				h1 {
					color: #fff;
					padding-bottom: 40px;
					@media (max-width:769px) {
						padding-bottom: 10px;
					}
				}
				span {
					font-size: 60px;
					font-weight: 300;
					text-transform: uppercase;
					color: #fff;
					@media (max-width:997px) {
						font-size: 48px;
					}
				}
				p {
					color: #fff;
					display: block;
					line-height: 20px;
					padding: 20px 0 50px 0;
					@media (max-width:769px) {
						padding: 10px 0 10px 0;
					}
				}

			}
		}
		@media (max-width:997px) {
			h1 {
				font-size: 36px;
				padding: 0;
				@media (max-width:769px) {
						font-size: 24px;
						line-height: 30px;
					}
			}

		}
	}
.section3 {
	.single-category {
		h3 {
			display: flex;
			justify-content: center;
			text-transform: uppercase;
			font-weight: bold;
			padding: 60px 0 25px 0;
			@media (max-width:500px) {
						font-size: 20px;
			}
		}
		.box-heading {
			display: flex;
			justify-content: center;
			padding-bottom: 20px;
			.nav {
				li {
					padding: 0 20px;
					font-size: 12px;
					text-transform: uppercase;
					@media (max-width:500px) {
						padding: 0 10px;
						font-size: 10px;

					}
					a {
						color: #badbd8;
					}
					a:hover {
						color: #ffb400;
						text-decoration: none;
					}
				
				}
			}
		}
	}
	.product-layout {
			margin: 20px 0 20px 0;
				@media (max-width: 579px) {
					width: 50%;
					display: flex;
					justify-content: center;
					margin: 10px 0 10px 0;
					padding: 0 10px
				}
			.product-thumb {
				width: 100%;
				height: 100%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.lazy {
				position: relative;
			}
		
			.lazy:hover + .button-group{
				opacity: 1;
			}
			.sale {
					position: absolute;
					top: 20px;
					left: 30px;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					color: #fff;
					background: #badbd8;
					font-size: 10px;
					line-height: 15px;
				}
				.new {
					position: absolute;
					top: 20px;
					right: 30px;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					color: #fff;
					background: red;
					font-size: 10px;
					line-height: 15px;
				}
			.menubutton {
				position: absolute;
				top:10%;
				left: 0;
				right: 0;
			}
			.button-group {
			    display: flex;
			    flex-flow: column;
			    justify-content: center;
			    align-content: center;
			    align-items: center;
			    opacity: 0;
			    transition: all 1s ease;

		    	.button {
		    		margin-bottom: 5px;
		    		@media (max-width: 479px) {
			    		padding: 5px 30px;
		    		}
		    	}
		    	
			}
			.button-group:hover {
				opacity: 1;
			}
			.caption {
				width: 90%;
				padding: 0 20px;
				position: absolute;
				bottom: 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
				align-content: space-between;
				.info {
					display: flex;
					flex-flow: column;
					a {
						font-size: 16px;
						line-height: 20px;
						text-transform: capitalize;
						font-weight: bold;
						color: #000;
						text-decoration: none;
						transition: all 0.5s ease;
					}
					a:hover {
						color: #ffb400;
					}

				}
				.price {
					display: flex;
					flex-flow: column;
					span {
						font-size: 14px;
						font-weight: bold;
						color: #000;
					}
					.price-old {
						text-decoration: line-through;
						font-size: 12px;

					}
					.price-new {
						color: red;
					}
				}
			}
		}
	}
}
.section4 {
	.blog_name {
		padding: 120px 0 70px 0;
		display: flex;
		justify-content: center;
		h3 {
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	.box {
		max-height: 480px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.content {
		width: 100%;
		height: 100%;
		float: left;
		display: flex;
		flex-flow: column;
		@media (max-width: 769px) {
			padding-bottom: 20px;
			}
		h6 {
			color: #badbd8;
			text-transform: uppercase;
			line-height: 12px;
			padding-top: 15%;
			padding-bottom: 20px;
		}
		h3 {
			text-transform: uppercase;
			letter-spacing: 0.1px;
			font-weight: bold;
			font-size: 24px;
			@media (max-width: 998px) {
				line-height: 40px;
			}
		}
		p {
			font-size: 16px;
			line-height: 30px;
			padding: 20px 0 80px 0;
			@media (max-width: 1200px) {
	    		padding: 20px 0 40px 0;
	    		@media (max-width: 998px) {
	    			padding:10px 0 20px 0;
	    			@media (max-width: 769px) {
	    			padding:10px 0 10px 0;
					}
				}
    		}
		}
		.button {
			border: 2px solid #badbd8;
			background: #fff;
			color: #000;
			padding: 5px 0;
			width: 120px;
		}
		.button:hover {
			color: #fff;
		}
	}
}
.section5 {
	margin-top: 140px;
	background: linear-gradient(to right, #badbd8 50%,#ffffff 50%,#ffffff 50%,#ffffff 50%);
	.galery {
		padding: 0 15px;
	}
	.item {
		padding: 0;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.item-instagram {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		background: #badbd8;
		h2 {
			padding: 20px 0;
			@media (max-width: 769px) {
	    			font-size: 24px;
				}
		}
		h5 {
			line-height: 20px;
		}
		span {

		}
	}
	.button {
		border: 2px solid #fff;
		@media (max-width: 769px) {
	    			width: 120px;
	    			padding: 5px 0;
				}
	}
	.item-followers {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		background: #fff;
		h3 {
			font-size: 24px;
			color:  #badbd8;
			@media (max-width: 996px) {
	    		font-size: 18px;
		    		@media (max-width: 769px) {
		    			font-size: 14px;
					}
				}
		}
		a {
			color: #000;
			@media (max-width: 996px) {
	    		font-size: 14px;
	    		@media (max-width: 769px) {
		    			font-size: 12px;
					}
				}
		}
		a:hover {
			text-decoration: none;
			color: #ffb400;
		}
		span {
			padding-left: 10px;
		}
	}
}
footer {
	background: #fff;
	color: #000;
	position: relative;
	h3 {
		color: #000;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
	}

	a {
		color: #000;
		font-size: 10px;
		line-height: 18px;
		transition: all 0.5s ease;
	}
	a:hover {
		color: #e9b32d;
		text-decoration: none;
	}
	h4 {
		color: #000;
		font-size: 10px;
		line-height: 18px;
		font-weight: normal;
	}

	.social-list {
		display: flex;
		justify-content: flex-start;
		list-style: none;
		padding: 10px 0;

		.icon-item {
			display: flex;
			justify-content: center;
			position: relative;
			padding: 0 10px;
			font-weight:400;
			font-size: 20px;

			&:hover {
				.name {
					top: -200%;
					opacity: 1;

				}
			}

			a {
				font-size: 20px;
			}

			.name {
				position: absolute;
				z-index: 4;
				padding: 5px 10px;
				top: -250%;
				opacity: 0;
				font-size: 14px;
				line-height: 20px;
				background: #ffb400;
				box-shadow: 0 0 30px rgba(0,0,0,.2);
				box-sizing: border-box;
				border-radius: 5px;
				transition: opacity 0.2s cubic-bezier(.5,.12,.46,.88),
							top 0.4s cubic-bezier(.5,.12,.46,.88);

				&:after {
					display: block;
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 5px 5px 0 5px;
					bottom: -5px;
					left: 50%;
					margin-left: -3px;
					border-color: #ffb400 transparent transparent transparent;
					content: '';
				}
			}
		}
	}

}



.button {
	display: flex;
	justify-content: center;
	font-size: 12px;
	padding: 10px 0;
	font-weight: bold;
	width: 150px;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	color: #fff;
	background: #badbd8;
	border-radius: 40px;
	text-transform: uppercase;
}
.button.inverted {
	color: #000;
	background: #fff;
}
.button-primary {
	transition: border-color 0.4s, color 0.4s;
}
.button-primary::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	border-radius: 40px;
	z-index: -1;
	opacity: 0;
	transform: scale3d(0.1, 1, 1);
	transition: transform 0.6s, opacity 0.6s;
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

}
.button-primary.inverted::before {
	background: #000;
	color: #fff;

}
.button-primary,
.button-primary::before {
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button-primary:hover {
	color: #fff;
	border-color: #000;
	text-decoration: none;

}
.button-primary.inverted:hover {
	color: #fff;
	border-color: #fff;
}
.button-primary:hover::before {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
.bottom_top {
	a {
		text-decoration: none;
	
	}
	.ui-to-top {
	    width: 38px;
	    height: 38px;
	    font-size: 16px;
	    line-height: 33px;
	    background: #fff;
	    color: #000;
	    border-radius: 0;
	    position: fixed;
	    right: 10%;
	    bottom: 65px;
	    overflow: hidden;
	    text-align: center;
	    list-style: none;
	    z-index: 20;
	    border: 1px solid #000;
	}
	.ui-to-top:active {
	 	background: #000;
	 	color: #fff;

	}
}

